/*//////////////////////////////////
/ jeu de memory - Feuille de style /
/         2025 Quentin GP          /
//////////////////////////////////*/

/* Général */
* {
    margin: 0;
    font-family: monospace;
}

body {
    text-align: center;
}

/* Texte */
h1 {
    padding-top: 30px;
    font-size: 5rem;
}

/* Tableau */
main {
    width: 845px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 20%;
}

/* Tuiles du jeu */
.tuile {
    width: 100px;
    padding: 30px 0;
    margin: 10px;
    background-color: lightgray;
    font-size: xx-large;
    text-align: center;
}

.tuile:hover {
    cursor: grab;
}