@font-face {
    font-family: 'Clash Display Variable';
    src: url('ClashDisplayVariable-Bold.woff2') format('woff2'),
        url('ClashDisplayVariable-Bold.woff') format('woff'),
        url('ClashDisplayVariable-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --bleu : #602EFF;
    --cyan : #5FDDFF;
    --jaune : #FFF200;
    --rose : #DE8FFF;

}

body{
    margin:0;
    padding: 15px;
}

h1 {
    font-family: 'Clash Display Variable';
    text-align: center;
    color: var(--bleu);
    margin-top: 20px;
}

h2 {
    font-family: 'Clash Display Variable';
    text-align: center;
}

p {
    font-family: 'Clash Display Variable';
    text-align: center;
}

#section01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#image01, #image02 {
    object-fit: cover;
}

#img1, #img2 {
    width: 400px;
    height: 400px;
    position: relative;
    object-fit: cover;
}