body {
    background-color: rgb(9, 20, 44);
}

#conteneur_jeu {
    position: relative; /* pour que les element soit bien integreta dans la zone dedié au jeu */
    height: 550px; /* definition de la taille de l'affichage du jeu */
}